/************ Used colors *****************************************************/
$white: white;
$off-white: #f6f6f6;
$black: black;
$off-black: #111111;
$accent-grey: #767676;
$royal: #655d8a;
$steel: #93b5c6;
$nude: #c1a3a3;

/************ Unused colors ***************************************************/
// Palette 1
$accent-blue: #00c4cf;
$accent-red: #ed4841;

// Palette 2
$cream: #f9f7d9;
$lavender-pink: #ffc1f3;
$apricot: #fce2ce;
$arctic: #cffff3;
$gradient1: $cream, $lavender-pink, $arctic;

// Others for Home
$lime: #cee5d0;
$green: #b4cfb0;
$blue: #93b5c6;
