// Standard
$white: white;
$black: black;
$semi-black: #292929;
$demi-black: #464646;
// Palette 1
$cream: #f9f7d9;
$lavender-pink: #ffc1f3;
$apricot: #fce2ce;
$arctic: #cffff3;
$gradient1: $cream, $lavender-pink, $arctic;
// Palette 2
$air-force: #7897ab;
$royal: #655d8a;
