// Standard
$white: white;
$black: black;
$semi-black: #292929;
$demi-black: #464646;
// Palette 1
$cream: #f9f7d9;
$lavender-pink: #ffc1f3;
$apricot: #fce2ce;
$arctic: #cffff3;
$gradient1: $cream, $lavender-pink, $arctic;
// Palette 2
$air-force: #7897ab;
$royal: #655d8a;

// Palette 3
$bg: white;
$bg2: #f6f6f6;
$text: #111111;
$text2: #00c4cf;
$accs: #767676;
$accs2: #ed4841;
$accs3: #e68a97;
// $accs3: #ec576b;
// $accs3: #d4eb9d;
