@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

$index-title: "Dancing Script", cursive, sans-serif;
$index-sub: "Josefin Sans", sans-serif;
$font-stack: "Lato", sans-serif;
