@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Long+Cang&display=swap");

$accent: "Cardo", serif;
$default: "Josefin Sans", sans-serif;
$chinese: "Ma Shan Zheng", cursive;
$chinese2: "Zhi Mang Xing", cursive;
$chinese3: "Liu Jian Mao Cao", cursive;
$chinese4: "Long Cang", cursive;
