@use "abstracts/colors" as c;
@use "abstracts/fonts" as f;

$margin-LR: 21vw;

* {
  margin: 0;
  font-family: f.$default;
  font-size: 1.15vw;
  color: c.$text;
}

body {
  // background-color: c.$accs3;
  background: -webkit-linear-gradient(275deg, c.$accs3 80%, c.$bg 80.08%);
}

// React-Spring Design Requirements
html,
body,
#root,
#root > div,
#root > div > div {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden; // not sure why it doesn't affect About page
}

// not needed maybe
@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin gradient($direction) {
  background: -webkit-linear-gradient($direction, c.$gradient1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//not needed
@mixin background($img-path, $position: 0 0) {
  background: {
    image: url($img-path);
    position: $position;
    size: cover;
    background-repeat: no-repeat;
  }
}

//not needed maybe
@mixin pageTemplate() {
  margin: 0 18vw 0 18vw;
}

//not needed
@mixin links($link: c.$white, $hover: c.$arctic, $active: c.$lavender-pink) {
  a {
    color: $link;
    text-decoration: none;
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

/** 
 * *********** Nav Bar *********************************************************
 * NavSlider have 2 sizes, #big & #small
 * .navbar: Parent div of the NavSlider (child)
 * .nav-cont: NavSlider item itself
 */
// Variables for #big & #small
@mixin slider-comp-size($base-size) {
  width: $base-size;
  height: $base-size / 3;
  .nav-cont {
    width: $base-size;
    height: $base-size / 3;
    padding: 0 ($base-size / 9.23) 0 ($base-size / 9.23);
    border-radius: $base-size / 5;

    .circle {
      width: $base-size / 4.8;
      height: $base-size / 4.8;
    }

    .text {
      font-size: $base-size / 8;
      margin: 0 ($base-size / 2.4) 0 ($base-size / 2.4);
    }

    .cover {
      font-size: $base-size / 6.8;
      font-weight: bold;
      border-radius: $base-size / 5;
      transition: box-shadow 0.75s; //test & move out of here?
    }
  }
}

.navbar {
  &#big {
    z-index: 50;
    bottom: 0;
    padding-bottom: 30px;
    @include slider-comp-size(18vw);
  }

  &#small {
    position: absolute;
    inset: 1vw 85vw;
    @include slider-comp-size(6vw);
  }
}

// Constant NavSlider design between both sizes
.nav-cont {
  position: relative; // test
  pointer-events: auto; //test
  transform-origin: 50% 50% 0px; //???
  box-sizing: border-box;
  display: grid;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 4px -0px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  user-select: none;

  .cover {
    position: absolute;
    cursor: -webkit-grab;
    background-color: c.$accs3; //change
    color: c.$white; // change
    // color: c.$bg2;

    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.3);

    &:active {
      cursor: -webkit-grabbing;
      box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.7);
    }

    &:hover {
      background-color: #c44b5e;
    }
    * {
      // change to specific element
      pointer-events: none;
    }
  }

  .circle {
    border-radius: 50%;
    background-color: c.$white;
  }

  .text {
    position: absolute;
  }
}

/** 
 * *********** Socials Bar *********************************************************
 * .socials-bar: Parent div of each social icons (children)
 * .social-icon: Size of each icon
 */
.socials-bar {
  position: absolute;
  right: 2vw;
  top: 6vw;
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 40;
}

.social-icon {
  width: 1.5vw;
  height: 1.5vw;

  path {
    fill: c.$text;
  }
}

/** 
 * *********** Home Page *********************************************************
 * .home-cont: Home container
 * .card-cont: Picture container (at ImgCard.tsx)
 */
.home-cont {
  // background-color: c.$semi-black;
  display: flex;
  justify-content: space-between;
  .sec-left {
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .text {
    align-self: center;
    .name-cont {
      display: flex;
      align-items: flex-end;
      margin-bottom: 2vw;
      #林 {
        font-family: f.$chinese3;
        font-size: 7vw;
      }
      #敬佳 {
        font-family: f.$chinese3;
        font-size: 4vw;
      }
      #isaac {
        // font-family: f.$accent;
        font-size: 5vw;
      }
      #lim {
        font-size: 7vw;
        // font-weight: 400;
        font-family: f.$accent;
        // color: #be3f52;
        align-self: baseline; //remove?
      }
    }
    p,
    span {
      font-size: 1.7vw;
      // font-weight: bold;
    }
    #highlight {
      color: c.$white;
      // font-weight: bold;
      // font-size: 1.7vw;
    }
  }
}

.sec-right {
  position: absolute;
  height: 100%;
  right: 0;
}

$card-size: 30vw;
.card-cont {
  width: $card-size * 1.8;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-style: solid;
  .card {
    width: $card-size;
    height: $card-size;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    will-change: transform;
    box-shadow: 0px 0px 100px -30px rgba(36, 36, 36, 0.4);
  }
}

/********************* About Page**********************************************/
.about-cont {
  background-color: c.$white;
  .section {
    min-height: 100vh; // not needed
    width: auto; //not needed
  }
  h2 {
    // @include gradient(left); // need
    display: inline-block; // need
    font-size: 3vw; // need
  }
  img {
    max-width: 40vw;
    height: auto;
    object-fit: contain;
  }

  #note {
    font-family: f.$accent;
    font-weight: bold;
    margin-top: 5vh;
  }

  #sec1 {
    position: relative;
    padding-top: 10vh;
    h2 {
      margin-left: 21vw; // NO
      font-size: 4.5vw; //yes
      max-width: 60vw; //yes
    }
    .text {
      margin-right: $margin-LR; //not needed
      max-width: 25vw; // need
      position: absolute; //not needed
      right: 0px; // not needed
    }
    img {
      margin-left: $margin-LR; // NO
      max-width: 35vw; // maybe
      height: auto; // NO
    }
  }

  #sec2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // Remove. hot air balloon, not needed
    #img1 {
      position: absolute;
      max-width: 18vw;
      left: 25vw;
      top: 2vw;
    }
    // Remove
    #head1 {
      display: flex; //NO
      justify-content: flex-end; // NO
      margin-right: $margin-LR; // NO
      margin-bottom: 5vh; //NO
    }
    #head2 {
      margin-left: $margin-LR; // No
      margin-bottom: 8vh; //No
      h2 {
        max-width: 40vw; //Yes
      }
    }
    #img2 {
      position: absolute;
      max-width: 26vw;
      right: 13vw;
      top: 38vh;
    }
    .group1 {
      display: flex;
      align-items: center;
      margin-left: 14vw;
      #img3 {
        max-width: 15vw;
      }
      .text {
        max-width: 30vw;
      }
    }
  }

  #sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 30vw;
      height: auto;
      margin-right: 3vw;
    }
    h2 {
      max-width: 20vw;
    }
    .text {
      margin-top: 8vh;
      margin-left: 6vw;
    }
    p {
      max-width: 21vw;
    }
  }
}

/********************* Works **************************************************/
// --- Default deck style structure from Docs ---
.works-cont {
  background: c.$demi-black;
  cursor: url(../../images/cursor.png) 39 39, auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.deck {
  position: absolute;
  // width: 300px;
  // height: 200px;
  will-change: transform;
  display: flex; //test if needed
  align-items: center; //test
  justify-content: center; //test
  touch-action: none;
  z-index: 41;

  .deck-cont {
    background-color: #fff;
    border-radius: 0.5rem;

    display: flex; //test
    justify-content: center; //test
    align-items: center; //test if needed

    background-size: auto 85%; // test if needed
    background-repeat: no-repeat;
    background-position: center center;
  }

  .content {
    width: 55vw;
    height: 80vh;
    will-change: transform;
    // border-radius: 0.5rem;
    box-shadow: 0 0 100px -10px rgba(63, 63, 63, 0.7),
      0 0 50px -10px rgba(43, 43, 43, 0.3);
  }
}

// --- My add-on styles ---
.deck {
  p,
  li {
    color: c.$black;
    font-family: f.$accent;
    font-size: 1vw;
  }
  .content {
    box-sizing: border-box;
    user-select: none;
    padding: 0.5vw;
    display: flex;
  }
  #title {
    font-family: f.$default;
    font-size: 3vw;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    border-style: none none solid none;
    border-color: c.$royal;
    border-width: thin;
  }
  #subtitle {
    font-weight: bold;
    margin-top: 1vw;
  }
  ul {
    padding-left: 2vw;
  }
  .img-placeholder {
    display: flex;
    img {
      width: 30vw;
      object-fit: cover;
    }
  }
  .img-cover {
    position: absolute;
    width: 30vw;
    height: 78vh;
  }
  #cover-full {
    position: absolute;
    width: 98%;
    height: 97%;
  }
  .txt-placeholder {
    padding-left: 1vw;
  }
}
