@use "abstracts/colors" as c;
@use "abstracts/fonts" as f;

@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin gradient($direction) {
  background: -webkit-linear-gradient($direction, c.$gradient1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin background($img-path, $position: 0 0) {
  background: {
    image: url($img-path);
    position: $position;
    size: cover;
    background-repeat: no-repeat;
  }
}

@mixin pageTemplate() {
  padding: 0 18vw 0 18vw;
}

* {
  margin: 0;
  font-family: f.$default;
  color: c.$white;
}

body {
  background-color: c.$black;
}

.bg {
  img {
    width: 100vw;
    height: auto;
  }
}
.main {
  @include flexCenter(column);
  @include background("../../images/pear-dessert.jpg", 0 -5rem);
  color: c.$white;
  h1 {
    font-family: f.$index-title;
    font-size: 8vw;
  }
  p {
    font-size: 2vw;
    text-align: center;
  }
}

.home-info-cont {
  background-color: c.$black;
  .page1 {
    position: relative;
    .header {
      @include pageTemplate();
      @include gradient(left);
      padding-top: 24vh;
      font-size: 3vw;
    }
    .text {
      @include pageTemplate();
      position: absolute;
      top: 40vh;
      right: 0px;
    }
  }
}
