@use "abstracts/colors" as c;
@use "abstracts/fonts" as f;

$margin-LR: 21vw;

* {
  margin: 0;
  font-family: f.$default;
  font-size: 1.15vw;
  color: c.$white;
}

@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin gradient($direction) {
  background: -webkit-linear-gradient($direction, c.$gradient1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin background($img-path, $position: 0 0) {
  background: {
    image: url($img-path);
    position: $position;
    size: cover;
    background-repeat: no-repeat;
  }
}

@mixin pageTemplate() {
  margin: 0 18vw 0 18vw;
}

@mixin links($link: c.$white, $hover: c.$arctic, $active: c.$lavender-pink) {
  a {
    color: $link;
    text-decoration: none;
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

body {
  background-color: c.$black;
}

.bg {
  img {
    width: 100vw;
    height: auto;
  }
}

.main {
  @include flexCenter(column);
  @include background("../../images/pear-dessert.jpg", 0 -5rem);
  color: c.$white;
  h1 {
    font-family: f.$accent;
    font-size: 8vw;
  }
  p {
    font-size: 2vw;
    text-align: center;
  }
}

#navbar {
  @include links();
  position: sticky;
  z-index: 50;
  top: 0;
  display: flex;
  justify-content: flex-end;
  a {
    text-shadow: 0px 0px 10px rgba(0, 0, 0);
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    // margin-top: 3vh; //No
  }
  a:last-child {
    // margin-right: 10vw; // No
  }
}

/********************* About Page**********************************************/
.about-cont {
  background-color: c.$black;
  .section {
    min-height: 100vh; // not needed
    width: auto; //not needed
  }
  h2 {
    @include gradient(left); // need
    display: inline-block; // need
    font-size: 3vw; // need
  }
  img {
    max-width: 40vw;
    height: auto;
    object-fit: contain;
  }

  #note {
    font-family: f.$accent;
    font-weight: bold;
    margin-top: 5vh;
  }

  #sec1 {
    position: relative;
    padding-top: 10vh;
    h2 {
      margin-left: 21vw; // NO
      font-size: 4.5vw; //yes
      max-width: 60vw; //yes
    }
    .text {
      margin-right: $margin-LR; //not needed
      max-width: 25vw; // need
      position: absolute; //not needed
      right: 0px; // not needed
    }
    img {
      margin-left: $margin-LR; // NO
      max-width: 35vw; // maybe
      height: auto; // NO
    }
  }

  #sec2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // Remove. hot air balloon, not needed
    #img1 {
      position: absolute;
      max-width: 18vw;
      left: 25vw;
      top: 2vw;
    }
    // Remove
    #head1 {
      display: flex; //NO
      justify-content: flex-end; // NO
      margin-right: $margin-LR; // NO
      margin-bottom: 5vh; //NO
    }
    #head2 {
      margin-left: $margin-LR; // No
      margin-bottom: 8vh; //No
      h2 {
        max-width: 40vw; //Yes
      }
    }
    #img2 {
      position: absolute;
      max-width: 26vw;
      right: 13vw;
      top: 38vh;
    }
    .group1 {
      display: flex;
      align-items: center;
      margin-left: 14vw;
      #img3 {
        max-width: 15vw;
      }
      .text {
        max-width: 30vw;
      }
    }
  }

  #sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 30vw;
      height: auto;
      margin-right: 3vw;
    }
    h2 {
      max-width: 20vw;
    }
    .text {
      margin-top: 8vh;
      margin-left: 6vw;
    }
    p {
      max-width: 21vw;
    }
  }
}

/********************* React-spring Deck *************************************/
// --- Default deck style structure from Docs ---
.works-cont {
  background: c.$air-force;
  cursor: url(../../images/cursor.png) 39 39, auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.deck {
  position: absolute;
  // width: 300px;
  // height: 200px;
  will-change: transform;
  display: flex; //test if needed
  align-items: center; //test
  justify-content: center; //test
  touch-action: none;

  .deck-cont {
    background-color: #fff;
    border-radius: 0.5rem;

    display: flex; //test
    justify-content: center; //test
    align-items: center; //test if needed

    background-size: auto 85%; // test if needed
    background-repeat: no-repeat;
    background-position: center center;
  }

  .content {
    width: 55vw;
    height: 80vh;

    // background-size: auto 85%;
    // background-repeat: no-repeat;
    // background-position: center center;
    will-change: transform;
    // border-radius: 0.5rem;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.7),
      0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
}

// Brings Decks to the center
html,
body,
#root,
#root > div,
#root > div > div {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

// --- My add-on styles ---
.deck {
  p,
  li {
    color: c.$black;
    font-family: f.$accent;
    font-size: 1vw;
  }
  .content {
    box-sizing: border-box;
    user-select: none;
    padding: 0.5vw;
    display: flex;
  }
  #title {
    font-family: f.$default;
    font-size: 3vw;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    border-style: none none solid none;
    border-color: c.$royal;
    border-width: thin;
  }
  #subtitle {
    font-weight: bold;
    margin-top: 1vw;
  }
  ul {
    padding-left: 2vw;
  }
  .img-placeholder {
    // background-color: rgb(202, 202, 202); //if can
    display: flex;
    img {
      width: 30vw; //need
      // max-height: 60vh;
      object-fit: cover;
    }
  }
  .img-cover {
    position: absolute;
    width: 30vw;
    height: 78vh;
    z-index: 40;
  }
  .txt-placeholder {
    padding-left: 1vw;
  }
}
