@use "../abstracts/" as a;

* {
  margin: 0;
  font-family: a.$default;
  font-size: 1.15vw;
  color: a.$off-black;
}

@include a.phone {
  * {
    font-size: 16px;
  }
}

body {
  background: -webkit-linear-gradient(275deg, a.$nude 80%, a.$white 80.08%);

  @include a.phone {
    background: -webkit-linear-gradient(270deg, a.$white 35%, a.$nude 35%);
  }
}

// React-Spring Design Requirements
html,
body,
#root,
#root > div,
#root > div > div {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  // overflow-y: hidden; // not sure why it doesn't affect About page
}
