@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Long+Cang&display=swap");
* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.15vw;
  color: white;
}

body {
  background-color: #292929;
}

/** 
 * *********** Nav Bar *********************************************************
 * NavSlider have 2 sizes, #big & #small
 * .navbar: Parent div of the NavSlider (child)
 * .nav-cont: NavSlider item itself
 */
.navbar#big {
  z-index: 50;
  bottom: 0;
  padding-bottom: 30px;
  width: 18vw;
  height: 6vw;
}
.navbar#big .nav-cont {
  width: 18vw;
  height: 6vw;
  padding: 0 1.9501625135vw 0 1.9501625135vw;
  border-radius: 3.6vw;
}
.navbar#big .nav-cont .circle {
  width: 3.75vw;
  height: 3.75vw;
}
.navbar#big .nav-cont .text {
  font-size: 2.25vw;
  margin: 0 7.5vw 0 7.5vw;
}
.navbar#big .nav-cont .cover {
  font-size: 2.6470588235vw;
  font-weight: bold;
  border-radius: 3.6vw;
  transition: box-shadow 0.75s;
}
.navbar#small {
  position: absolute;
  inset: 1vw 80vw;
  width: 6vw;
  height: 2vw;
}
.navbar#small .nav-cont {
  width: 6vw;
  height: 2vw;
  padding: 0 0.6500541712vw 0 0.6500541712vw;
  border-radius: 1.2vw;
}
.navbar#small .nav-cont .circle {
  width: 1.25vw;
  height: 1.25vw;
}
.navbar#small .nav-cont .text {
  font-size: 0.75vw;
  margin: 0 2.5vw 0 2.5vw;
}
.navbar#small .nav-cont .cover {
  font-size: 0.8823529412vw;
  font-weight: bold;
  border-radius: 1.2vw;
  transition: box-shadow 0.75s;
}

.nav-cont {
  position: relative;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  user-select: none;
}
.nav-cont .cover {
  position: absolute;
  cursor: -webkit-grab;
  background-color: #655d8a;
  color: white;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
}
.nav-cont .cover:active {
  cursor: -webkit-grabbing;
  box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.4);
}
.nav-cont .cover * {
  pointer-events: none;
}
.nav-cont .circle {
  border-radius: 50%;
  background-color: white;
}
.nav-cont .text {
  position: absolute;
}

/** 
 * *********** Home Page *********************************************************
 * .home-cont: Home container
 * .card-cont: Picture container
 */
.home-cont {
  background-color: #292929;
  display: flex;
  justify-content: space-between;
}
.home-cont .section1 {
  padding-left: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.home-cont .text {
  align-self: center;
}
.home-cont .text .name-cont {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2vw;
}
.home-cont .text .name-cont #林,
.home-cont .text .name-cont #敬佳 {
  font-family: "Zhi Mang Xing", cursive;
}
.home-cont .text .name-cont .mid > h1 {
  font-size: 5vw;
}
.home-cont #林 {
  font-size: 7vw;
}
.home-cont #敬佳 {
  font-size: 4vw;
}
.home-cont #lim {
  font-size: 7vw;
  align-self: baseline;
}
.home-cont h1 {
  font-family: "Cardo", serif;
  font-size: 10vw;
}
.home-cont p {
  font-size: 1.5vw;
}

.card-cont {
  width: 57.5vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card-cont .card {
  width: 25vw;
  height: 25vw;
  background: #655d8a;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  will-change: transform;
}

/********************* About Page**********************************************/
.about-cont {
  background-color: black;
}
.about-cont .section {
  min-height: 100vh;
  width: auto;
}
.about-cont h2 {
  background: -webkit-linear-gradient(left, #f9f7d9, #ffc1f3, #cffff3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 3vw;
}
.about-cont img {
  max-width: 40vw;
  height: auto;
  object-fit: contain;
}
.about-cont #note {
  font-family: "Cardo", serif;
  font-weight: bold;
  margin-top: 5vh;
}
.about-cont #sec1 {
  position: relative;
  padding-top: 10vh;
}
.about-cont #sec1 h2 {
  margin-left: 21vw;
  font-size: 4.5vw;
  max-width: 60vw;
}
.about-cont #sec1 .text {
  margin-right: 21vw;
  max-width: 25vw;
  position: absolute;
  right: 0px;
}
.about-cont #sec1 img {
  margin-left: 21vw;
  max-width: 35vw;
  height: auto;
}
.about-cont #sec2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-cont #sec2 #img1 {
  position: absolute;
  max-width: 18vw;
  left: 25vw;
  top: 2vw;
}
.about-cont #sec2 #head1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 21vw;
  margin-bottom: 5vh;
}
.about-cont #sec2 #head2 {
  margin-left: 21vw;
  margin-bottom: 8vh;
}
.about-cont #sec2 #head2 h2 {
  max-width: 40vw;
}
.about-cont #sec2 #img2 {
  position: absolute;
  max-width: 26vw;
  right: 13vw;
  top: 38vh;
}
.about-cont #sec2 .group1 {
  display: flex;
  align-items: center;
  margin-left: 14vw;
}
.about-cont #sec2 .group1 #img3 {
  max-width: 15vw;
}
.about-cont #sec2 .group1 .text {
  max-width: 30vw;
}
.about-cont #sec3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-cont #sec3 img {
  max-width: 30vw;
  height: auto;
  margin-right: 3vw;
}
.about-cont #sec3 h2 {
  max-width: 20vw;
}
.about-cont #sec3 .text {
  margin-top: 8vh;
  margin-left: 6vw;
}
.about-cont #sec3 p {
  max-width: 21vw;
}

/********************* React-spring Deck *************************************/
.works-cont {
  background: #7897ab;
  cursor: url(../../images/cursor.png) 39 39, auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.deck {
  position: absolute;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}
.deck .deck-cont {
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
}
.deck .content {
  width: 55vw;
  height: 80vh;
  will-change: transform;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.7), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

html,
body,
#root,
#root > div,
#root > div > div {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.deck p,
.deck li {
  color: black;
  font-family: "Cardo", serif;
  font-size: 1vw;
}
.deck .content {
  box-sizing: border-box;
  user-select: none;
  padding: 0.5vw;
  display: flex;
}
.deck #title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3vw;
  margin: 3vh 0;
  display: flex;
  justify-content: center;
  border-style: none none solid none;
  border-color: #655d8a;
  border-width: thin;
}
.deck #subtitle {
  font-weight: bold;
  margin-top: 1vw;
}
.deck ul {
  padding-left: 2vw;
}
.deck .img-placeholder {
  display: flex;
}
.deck .img-placeholder img {
  width: 30vw;
  object-fit: cover;
}
.deck .img-cover {
  position: absolute;
  width: 30vw;
  height: 78vh;
  z-index: 40;
}
.deck .txt-placeholder {
  padding-left: 1vw;
}

/*# sourceMappingURL=style.css.map */
